// Brand-colors

$brand-global-color: #000;

$brand-background-color: #eee7dd;

$brand-top-bar-color: $brand-global-color;

$brand-text-color: #bb9156;

$brand-kpi-bar-color: #9c1c23;

$brand-kpi-btm-bdr-color: #651113;

$brand-nav-bar-color: #7e1419;

$brand-highlight-color: $brand-kpi-bar-color;

$brand-kpi-label-color: #decdb5;

$brand-white: white;

$brand-footer-color: #333;

$brand-footer-header-color: #999;

$brand-footer-label-color: #E2D0B6;

$brand-breadcrumb-color: #666;

// #222
$brand-breadcrumb-background-color: rgba(43, 43, 43, 0.8);

$light-gold: #d9c8af;

$lighter-gold: #C5A06D;

$dealer-blue: #3c4645;

$fade-text-color: #808080;

$transparent: transparent;

$red: #dc3522;

$bright-red: #f64f29;

$alert-red: #ff562d;

$alert-blue: #0facd2;

$alert-green: #22b573;

$alert-highlight-color: $red;

$info-text-color: #b3b3b3;
