.modal-independent-players-details {
    $depth: 1060;
    z-index: $depth;

    .modal-dialog {
        z-index: $depth+1;
        // width: 90%;
        width: auto;
    }
    .modal-content {
        background-color: transparent;
        // max-width: 90%;

        .modal-header {
            border-bottom: none;
        }
        .modal-independent-bets-title {
            background-color: $brand-text-color;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            color: white;
            font-size: 48px;
            text-align:center;
            padding-top: 15px;
            margin: 0 auto;
        }
        .close {
            position: absolute;
            top: 0;
            right: 20px;
            font-size: 108px;
            font-weight: 400;
            color:$brand-highlight-color;
            text-shadow: none;
            opacity: 1;

            &:hover {
                opacity: 0.8;
                color: white;
            }
        }
        .game-player-card .game-player-card-content {
            background-color: white;
        }
    }
    .modal-custom-backdrop {
        width: 100%;
        display: block;
        height: 100%;
        background-color: black;
        opacity: 0.75;
        position:absolute;
        top:0;
    }

    .modal-body {
        padding-bottom: 50px;
    }
    .close img {
        width: 40px;
        position: relative;
        right: 15px;
    }
}

.independent-players-carousel-wrapper {

    .carousel-indicators {
        bottom: -15%;

        li {
            width: 15px;
            height: 15px;
            margin-right: 10px;
            background-color: $brand-text-color;
            border-color: $brand-text-color;

            &.active {
                background-color: $brand-kpi-bar-color;
                border-color: $brand-kpi-bar-color;
            }

            &:last-child {
                margin-right:0;
            }
        }
    }
    .carousel-inner .item {
        $cardHeight: 373px;
        height: $cardHeight;
    }
    .carousel-control {
        opacity: 0.1;

        &.left img, &.right img {
            position: absolute;
            top: 40%;
        }

        &:hover {
            opacity: 1;
        }
    }
}
