.modal {
    &.visible {
        z-index: 10;
        display: block;
    }
    &.vertical-center {
        text-align: center;

        &:before {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            content: '';
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;

            &.fluid-dialog {
                width: auto;
                margin-top: 0;
                margin-bottom: 0;
            }

            &.has-outer-footer {
                margin-top: -20px;
            }
        }
    }
}

// .modal.vertical-center
// .modal.vertical-center
// .modal.vertical-center .modal-dialog
// .modal.vertical-center .modal-dialog
.modal .modal-dialog.amitttes {
    width: 532px;
}
.modal .modal-dialog:not(.fluid-dialog):not(.full-width-dialog) {
    overflow: auto;
    border-radius: 5px;
}
.modal .modal-dialog:not(.fluid-dialog):not(.full-width-dialog).has-outer-footer {
    overflow: visible;
}
.modal .modal-dialog.full-width-dialog {
    width: calc(100% - 26px);
    margin-top: 0;
    margin-bottom: 0;
}
.modal.has-sidebar .modal-dialog {
    width: 720px;
}
.modal.has-sidebar .modal-content {
    padding: 0 15px;
}
.modal.has-sidebar .modal-body,
.modal.has-sidebar .modal-footer {
    margin-left: 250px;
}
.modal.scale-in .modal-dialog,
.modal.scale-iframe-modal .modal-dialog {
    -webkit-transform: scale(0.65, 0.65);
    transform: scale(0.65, 0.65);
}
.modal.scale-in.in .modal-dialog,
.modal.scale-iframe-modal.in .modal-dialog {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.modal.modal-fullscreen .modal-dialog {
    width: auto;
    height: calc(100% - 20px);
    margin: 10px;
    overflow: hidden;
}
.modal.modal-fullscreen .modal-content {
    display: block;
    height: 100%;
    overflow: auto;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.modal-content {
    display: inline-block;
    min-width: 100%;
    padding: 0 36px;
    color: #000;
    background-color: $brand-white;
    border: 0;
    border-radius: 0;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.55);
}
.modal-content.no-paddings {
    padding: 0;
}
.modal-content.transparent {
    background-color: rgba(255, 255, 255, 0.8);
}
.modal-content.sm-paddings {
    padding: 0 15px;
}
.modal-content.has-sticky-header {
    padding-top: 91px;
}
.modal-content.has-sticky-header .modal-sticky-header {
    height: 91px;
    padding: 20px 15px 0;
    background-color: $brand-white;
    border-radius: 5px;
}
.modal-content.has-sticky-footer {
    padding-bottom: 160px;
}
.modal-content.has-sticky-footer .modal-sticky-footer {
    height: 160px;
    padding: 20px 15px 0;
    background-color: $brand-white;
    border-radius: 5px;
}
.has-outer-footer .modal-content {
    border-radius: 5px;
}
.scale-iframe-modal .modal-dialog,
.modal.fade.scale-iframe-modal .modal-dialog {
    width: auto;
    height: auto;
}
.scale-iframe-modal .modal-content,
.modal.fade.scale-iframe-modal .modal-content {
    display: block;
}
.modal-body {
    min-height: 150px;
    padding-right: 0;
    padding-left: 0;
}
.modal-body.vertical-align {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.modal-body.bg-grey {
    background-color: #e6e6e6;
}
.transparent .modal-body.bg-grey {
    background-color: rgba(102, 102, 102, 0.2);
}
.modal-header,
.modal-footer {
    padding-right: 0;
    padding-left: 0;
}
.modal-footer {
    border-top-style: dashed;
}
.modal-outer-footer {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 15px 0;
}
.modal-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 250px;
    padding: 15px;
    background-color: #f2ede5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.modal-sidebar .modal-label {
    color: $fade-text-color;
}
.modal-sidebar .modal-sidebar-link-list-item {
    position: relative;
    margin: 2px 0;
    color: $brand-text-color;
}
.modal-sidebar .modal-sidebar-link-list-item.active {
    color: inherit;
}
.modal-sidebar .modal-sidebar-link-list-item.active:before {
    position: absolute;
    top: 50%;
    left: 3px;
    width: 19px;
    height: 19px;
    background: url("../assets/icons/icon-checked.svg") center center no-repeat;
    background-color: $alert-green;
    background-size: 13px 10px;
    border-radius: 50%;
    content: ' ';
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.modal-sidebar .modal-sidebar-link {
    display: block;
    padding: 4px 10px 4px 25px;
    color: inherit;
    border-radius: 5px;
}
.modal-sidebar .modal-sidebar-link:hover {
    background-color: $brand-white;
}
.modal-sidebar .modal-sidebar-item-last {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.modal-backdrop.in {
    opacity: 0.75;
}
.close-full-width-modal {
    position: absolute;
    top: 50px;
    right: 19px;
    z-index: 2;
}
.toast-modals {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1060;
    width: 328px;
}
.modal-notification,
.modal-open .modal-notification {
    position: relative;
    top: auto;
    right: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
}
.modal-notification .modal-dialog,
.modal-open .modal-notification .modal-dialog {
    float: right;
    width: 318px;
    margin: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.55);
}
.modal-notification .modal-body,
.modal-open .modal-notification .modal-body {
    min-height: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}
.modal-notification .modal-content,
.modal-open .modal-notification .modal-content {
    padding: 0 16px;
}
.modal-notification .modal-notification-header,
.modal-open .modal-notification .modal-notification-header {
    margin-bottom: 10px;
    font-size: 16px;
}
.modal-notification .modal-notification-time,
.modal-open .modal-notification .modal-notification-time {
    color: $brand-kpi-label-color;
}
.modal-notification .modal-footer,
.modal-open .modal-notification .modal-footer {
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: left;
}
.modal-information-toast,
.modal-open .modal-information-toast {
    position: relative;
    overflow: visible;
}
.modal-information-toast.in,
.modal-open .modal-information-toast.in {
    position: relative;
}
.modal-information-toast.fade .modal-dialog,
.modal-open .modal-information-toast.fade .modal-dialog {
    -webkit-transform: translate(0, 25%);
    transform: translate(0, 25%);
}
.modal-information-toast.fade.in .modal-dialog,
.modal-open .modal-information-toast.fade.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-information-toast .modal-dialog,
.modal-open .modal-information-toast .modal-dialog {
    position: fixed;
    bottom: 20px;
    left: 13px;
    margin: 0;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.55);
}
.modal-information-toast .modal-content,
.modal-open .modal-information-toast .modal-content {
    display: block;
    padding: 5px 13px;
    font-size: 18px;
    color: $brand-white;
    background-color: $red;
    border-radius: 5px;
    box-shadow: none;
}
.modal-information-toast .modal-body,
.modal-open .modal-information-toast .modal-body {
    min-height: 0;
}
.modal-information-toast .modal-close-btn,
.modal-open .modal-information-toast .modal-close-btn {
    position: absolute;
    top: 50%;
    right: 13px;
    padding: 4px;
    background: $brand-white;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.modal-information-toast .modal-close-btn:hover,
.modal-open .modal-information-toast .modal-close-btn:hover {
    opacity: 0.75;
}
.modal-section {
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.modal-section.extra-paddings {
    padding-right: 36px;
    padding-left: 36px;
}
.modal-label {
    margin-bottom: 20px;
    color: $fade-text-color;
}
